body{
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: black;
    color: beige;
}
.container{
    width: 100%;
    display: block;
    margin: 0;
}
.titulo{
    text-align: center;
    margin: 2%;
}
.caracteristicas{
    display: flex;
}
.descripcion{
    margin: 1%;
    text-align: justify;
}
