<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="icon" href="img/logoJhomt.png">
    <link rel="stylesheet" href="css/peliculas.css">
    <title>Peliculas y mas</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <img src="img/jhomt2.png" class="imagenLogo" alt="">
            <a class="navbar-brand " href="#">Mi Netflix</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <h3 style="color: aliceblue; margin: 1% 5% 1% 5%  ;">Peliculas series y mas para toda la familia</h3>
                <form class="d-flex" action="buscar" method="POST">
                    <input class="form-control me-1" type="text" id="txtNombre" name="txtNombre" required>
                    <button class="btn btn-outline-success ms-lg-2" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<main style="background-color: black;">
    <div class="previo imagen_muestra align-items-center w-100 bg-gradient">
        <div id="carouselExampleIndicators" class="carousel slide w-75 h-50">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                ${imagenes}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container" >
        <div class="peliculasLista">
            <h1>Tus peliculas y mas</h1>
        </div>
        <div class="row">
            ${items}
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>