<div class="col-md-2 bg-none" style="background: transparent; margin-bottom: 1%;">
    <div class="card w-100 h-100">
        <div class="imagen">
            <img src="img/peliculas/${imagen}" class="card-img-top w-100 h-auto" alt="imagen de ${nombre}">
        </div>
        <div class="card-body w-100">
            <h5 class="text-truncate bg-gradient">${nombre}</h5>
            <a href="/detalle?nombre=${nombre}" class="btn btn-primary ${nombre}">Ver Detalles</a>
        </div>
    </div>
</div>